<div class="main mt-3">
  <section class="signup">
    <!-- <img src="images/signup-bg.jpg" alt=""> -->
    <div class="container">
      <div class="signup-content">
        <form
          [formGroup]="registerForm"
          id="signup-form"
          (ngSubmit)="register()"
          class="signup-form"
        >
          <h2 class="form-title">SIGN UP</h2>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="name"
              id="name"
              formControlName="username"
              placeholder="Your Name"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-input"
              name="email"
              id="email"
              formControlName="email"
              placeholder="Your Email"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-input"
              name="password"
              id="password"
              formControlName="password"
              placeholder="Password"
            />
            <span
              toggle="#password"
              class="zmdi zmdi-eye field-icon toggle-password"
            ></span>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-input"
              name="email"
              id="email"
              formControlName="confirmPassword"
              placeholder="ConfirmPassword"
            />
            <!-- <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">
                Password and confirm not match
              </div>
            </div> -->
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="re_password"
              id="re_password"
              formControlName="phone"
              placeholder="Phone"
            />
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="radio"
              name="role_id"
              formControlName="role_id"
              value="3"
            />User
          </div>
            <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              name="role_id"
              formControlName="role_id"
              value="2"
            />Host
          </div>
          <div class="form-group" *ngIf="registerForm.valid" >
            <button type="submit" class="form-submit">SIGN UP</button>
          </div>
        </form>
        <p class="loginhere">
          Have already an account ?
          <a routerLink="/login" class="loginhere-link">SIGN IN</a>
        </p>
      </div>
    </div>
  </section>
</div>
