<div class="container">
  <form [formGroup]="bookingForm" (submit)="bookingRoom()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="startDay">StartDay</label>
        <input
          type="date"
          class="form-control"
          id="startDay"
          value="Mark"
          formControlName="startDay"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="EndDay">EndDay</label>
        <input
          type="date"
          class="form-control"
          id="EndDay"
          value="Otto"
          formControlName="endDay"
          required
        />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3"></div>
    </div>

    <div class="container">
      <h5>Hotel : {{ showroom.name }}</h5>
      <h5>Price : {{ showroom.price }} USD / ngày</h5>
    </div>

    <button class="btn btn-primary ml-3 mr-3" type="submit">Booking</button>
    <a routerLink="" class="btn btn-danger">Cancel</a>
  </form>
</div>
